<div *ngIf='currentProject != null' >
  <div class='jumbotron'>
    <h4 class='display-4'>
      {{ currentProject.name }}  &nbsp;
      <!-- Button trigger modal -->
      <span data-toggle="modal" data-target="#exampleModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" style='margin-bottom: 3px;' viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/>
        </svg>
      </span>

    </h4>
  </div>

  <div class="projectContainer">
    <div class='taskList'>
      <ul>
        <li *ngFor='let task of taskList'>
          <div class="card">
            <h5 class="card-header">{{ task.name }}</h5>
            <div class="card-body">
              <p class="card-text">Description: {{ task.description }}</p>
              <p class="card-text">Status: {{ task.status }}</p>
              <p class="card-text">Start Date: {{ task.startDate }}</p>
              <p class="card-text">End Date: {{ task.endDate }}</p>
              <a [routerLink]="['/projectscreen', project._id]" class="btn btn-primary">Open</a>
            </div>
          </div>
        </li>
      </ul> 
    </div>
  </div>
</div>

<!-- Modal 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Project Name</label>
            <input name='ProjectName' [(ngModel)]='newProject.name' type="email" class="form-control"  placeholder="Project Name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Status</label>
            <select name='ProjectStatus' [(ngModel)]='newProject.status' class="form-control">
              <option *ngFor='let status of statuses' value='{{ status }}'>{{ status }}</option>  
            </select>
          </div>
          <div class="form-group">
            <label for="FormControlTextarea1">Description</label>
            <textarea name='ProjectDescription' [(ngModel)]='newProject.description' class="form-control" id="FormControlTextarea1" rows="3"></textarea>
          </div>
          <div class='form-group'>
            <label for="startDate">Start date:</label>
            <input class='form-control' type="date" id="startDate" name="trip-start" [(ngModel)]="newProject.startDate" min="2019-01-01" max="3000-12-31">
          </div>
          <div class='form-group'>
            <label for="endDate">End date:</label>
            <input class='form-control' type="date" id="endDate" name="trip-start" [(ngModel)]="newProject.endDate" min="2019-01-01" max="3000-12-31">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)='saveProject()' type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
-->
